<!doctype html>
<html lang="en" data-framework="angularjs">
    <head>
        <meta charset="utf-8">
        <title>AngularJS • TodoMVC</title>
        <link rel="stylesheet" href="css/index.css">
        <style>
            [ng-cloak] {
                display: none;
            }
        </style>
    </head>
    <body ng-app="todomvc">
        <ng-view/>

        <script type="text/ng-template" id="todomvc-index.html">

            <section id="list-menu">
                <header><h2 id="list-header">Lists</h2></header>
                <ul>
                    <li ng-repeat="list in lists track by $index">
                        <a href="" ng-click="changeList($index)" ng-class="{active: $index == actualList}">{{list.name}}</a>
                        <button class="destroy" ng-click="removeList(list)"></button>
                    </li>
                    <li>
                        <form ng-submit="addList()">
                            <input id="new-list" placeholder="Add new list" ng-model="newList" ng-disabled="saving" autofocus>
                        </form>
                    </li>
                </ul>
            </section>

            <section id="todoapp">
                <div class="card-list">
                    <header id="header">
                        <h1>{{lists[actualList].name | limitTo: 8 }}<span ng-show="lists[actualList].name.length > 8">...</span></h1>

                        <form id="todo-form" ng-submit="addTodo()">
                            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
                        </form>
                    </header>
                    <section id="main" ng-show="todos.length" ng-cloak>
                        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                        <label for="toggle-all">Mark all as complete</label>
                        <ul id="todo-list">
                            <li ng-repeat="todo in todos | filter:statusFilter track by $index"
                                ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                                <div class="view">
                                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                                    <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                                    <button class="destroy" ng-click="removeTodo(todo)"></button>
                                </div>
                                <form ng-submit="saveEdits(todo, 'submit')">
                                    <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')"
                                           todo-focus="todo == editedTodo">
                                </form>
                            </li>
                        </ul>
                    </section>
                </div>


                <footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
                    <ul id="filters">
                        <li>
                            <a ng-class="{selected: status == ''} " href="" ng-click="changeType()">All</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'active'}" href="" ng-click="changeType('active')">Active</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'completed'}" href="" ng-click="changeType('completed')" id="completedFilter">Completed</a>
                        </li>
                    </ul>
                    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
                </footer>
            </section>


            <footer id="info">
                <p>Double-click to edit a todo</p>

                <p>Credits:
                    <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
                    <a href="http://ericbidelman.com">Eric Bidelman</a>,
                    <a href="http://jacobmumm.com">Jacob Mumm</a> and
                    <a href="http://blog.igorminar.com">Igor Minar</a>
                </p>

                <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
            </footer>
        </script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-route/angular-route.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/todoCtrl.js"></script>
        <script src="js/services/todoStorage.js"></script>
        <script src="js/directives/todoFocus.js"></script>
        <script src="js/directives/todoEscape.js"></script>
    </body>
</html>
